        {
            "id": "example_dungeon",
            "name": "Donjon Exemple",
            "type": "dungeon",

            "loot": [

                {
                    "name": "Anneau des Ombres",
                    "source": "Donjon Exemple",
                    "boss": "Boss final",
                    "classes": [
                        "Monk MW",
                        "Hunter BM"
                    ]
                },

                {
                    "name": "Baguette mystique",
                    "source": "Donjon Exemple",
                    "boss": "Boss final",
                    "classes": [
                        "Mage Fr",
                        "Hunter BM"
                    ]
                }

            ]
        },
