body {

    margin:0;

    background:#111;

    color:white;

    font-family:sans-serif;

}



.app {

    padding:15px;

}



.header {

    width:100%;

    display:grid;

    grid-template-columns:40px 1fr;

    align-items:center;

}

.stats-table {

    width:100%;

    border-collapse: collapse;

}


.stats-container {

    width:100%;

    overflow-x:auto;

}


.stats-table {

    border-collapse:collapse;

    width:100%;

    min-width:900px;

    table-layout:fixed;

}


.stats-table th,
.stats-table td {

    border:1px solid #555;

    padding:8px;

    text-align:center;

}


/* colonne contenu */

.stats-table th:first-child,
.stats-table td:first-child {

    width:250px;

    text-align:left;

}


/* toutes les colonnes joueurs */

.stats-table th:not(:first-child),
.stats-table td:not(:first-child) {

    width:60px;

    max-width:60px;

    overflow:hidden;

    text-overflow:ellipsis;

}

.header h1 {

    text-align:center;

    margin:0;

}

#characters {

    margin:10px 0;

}


.character {

    display:inline-block;

    margin-right:15px;

}
.slot {

    font-size: 0.85rem;
    color: #8ecaff;
    margin-top: 2px;

}

.note {

    font-size: 0.8rem;
    color: #f0d66d;
    font-style: italic;
    margin: 4px 0;

}
.home-button {

    color:white;

    text-decoration:none;

    font-size:1.4rem;

}

.stats-container {
    overflow-x: auto;
}


.stats-table {
    width: 100%;
    border-collapse: collapse;
}


.stats-table th,
.stats-table td {
    padding: 6px 10px;
    text-align: center;
}


.stats-table th:first-child,
.stats-table td:first-child {
    text-align: left;
}


.stats-table .section td {

    font-weight: bold;
    background: rgba(128,128,128,0.15);

    padding-top: 12px;
    padding-bottom: 12px;

}


.stats-table .raid-title td {

    font-weight: bold;

    background: rgba(128,128,128,0.08);

    padding-left: 20px;

}


.stats-table .boss td:first-child {

    padding-left: 35px;

}


.stats-table .total td {

    font-weight: bold;

    border-top: 2px solid #888;

}

select {

    width:100%;

    padding:10px;

    margin:10px 0;

    font-size:1rem;

}

.character,
.item {

    background:#222;

    border-radius:10px;

    padding:12px;

    margin:10px 0;

}



select {

    width:100%;

    padding:10px;

    font-size:1rem;

}

#mode {

    display:flex;

    gap:10px;

    margin:15px 0;

}


#mode button {

    flex:1;

    padding:10px;

}
